<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "https://home.enea.com/dtds/,DanaInfo=www.puppycrawl.com,CT=dtd+configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
--><!--
    Checkstyle-Configuration: Android checkstyle by Enea
    Description: none
--><!--TODO setup proper severity-->
<module name="Checker">
    <property name="severity" value="warning" />
    <module name="TreeWalker">
        <property name="tabWidth" value="4" />
        <!--Javadoc related checks-->
        <module name="JavadocMethod">
            <property name="logLoadErrors" value="true" />
            <property name="suppressLoadErrors" value="true" />
            <property name="scope" value="protected" />
            <property name="allowMissingPropertyJavadoc" value="true" />
            <property name="tokens" value="METHOD_DEF" />
        </module>
        <module name="JavadocType">
            <property name="severity" value="error" />
            <property name="scope" value="public" />
        </module>
        <module name="JavadocStyle">
            <property name="severity" value="error" />
            <property name="checkEmptyJavadoc" value="true" />
            <property name="tokens" value="METHOD_DEF" />
        </module>

        <!--Naming conventions-->
        <module name="ConstantName">
            <property name="severity" value="error" />
        </module>
        <module name="LocalFinalVariableName">
            <property name="severity" value="error" />
        </module>
        <module name="LocalVariableName">
            <property name="severity" value="error" />
        </module>
        <module name="MemberName">
            <property name="severity" value="error" />
        </module>
        <module name="MethodName">
            <property name="severity" value="error" />
        </module>
        <module name="PackageName">
            <property name="severity" value="error" />
        </module>
        <module name="ParameterName">
            <property name="severity" value="error" />
        </module>
        <module name="StaticVariableName">
            <property name="severity" value="error" />
        </module>
        <module name="TypeName">
            <property name="severity" value="error" />
        </module>
        <module name="ClassTypeParameterName">
            <property name="severity" value="error" />
            <property name="format" value="^[A-Z]+[_A-Z]*$" />
        </module>
        <module name="MethodTypeParameterName">
            <property name="severity" value="error" />
            <property name="format" value="^[A-Z]+[_A-Z]*$" />
        </module>


        <!--Imports-->
        <module name="AvoidStarImport">
            <property name="severity" value="error" />
        </module>
        <module name="IllegalImport"></module>
        <module name="RedundantImport">
            <property name="severity" value="error" />
        </module>
        <module name="UnusedImports">
            <property name="severity" value="error" />
        </module>
        <!--IntelliJ compliant-->
        <module name="ImportOrder">
            <property name="groups" value="*,javax,java" />
            <property name="ordered" value="true" />
            <property name="separated" value="false" />
            <property name="option" value="bottom" />
            <property name="sortStaticImportsAlphabetically" value="true" />
        </module>
        <!--Size Violations-->
        <module name="LineLength">
            <property name="severity" value="error" />
            <property name="max" value="180" />
        </module>

        <!--Gives only a warning for the first threshold-->
        <module name="MethodLength">
            <property name="id" value="MethodLength_Warning" />
            <property name="max" value="40" />
        </module>
        <module name="MethodLength">
            <property name="severity" value="error" />
            <property name="id" value="MethodLength_Error" />
            <property name="max" value="70" />
        </module>
        <module name="ParameterNumber">
            <property name="id" value="ParameterNumber_Warning" />
            <property name="max" value="5" />
        </module>
        <module name="ParameterNumber">
            <property name="severity" value="error" />
            <property name="ignoreOverriddenMethods" value="true" />
            <property name="id" value="ParameterNumber_Error" />
            <property name="max" value="8" />
        </module>
        <module name="MethodCount">
            <property name="severity" value="error" />
            <property name="id" value="MethodCountTotal_Error" />
            <property name="maxTotal" value="50" />
        </module>
        <module name="MethodCount">
            <property name="severity" value="warning" />
            <property name="id" value="MethodCountPrivate_Error" />
            <property name="maxPackage" value="10" />
        </module>

        <!--Whitspaces-->
        <module name="EmptyForIteratorPad">
            <property name="severity" value="error" />
        </module>
        <module name="MethodParamPad">
            <property name="severity" value="error" />
        </module>
        <module name="NoWhitespaceAfter">
            <property name="severity" value="error" />
            <property name="tokens"
                value="ARRAY_INIT,BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS" />
        </module>
        <module name="NoWhitespaceBefore">
            <property name="severity" value="error" />
        </module>
        <module name="OperatorWrap">
            <property name="severity" value="error" />
        </module>
        <module name="ParenPad">
            <property name="severity" value="error" />
        </module>
        <module name="TypecastParenPad">
            <property name="severity" value="error" />
            <property name="tokens" value="RPAREN,TYPECAST" />
        </module>
        <module name="WhitespaceAfter">
            <property name="severity" value="error" />
        </module>
        <module name="WhitespaceAround">
            <property name="severity" value="error" />
            <property name="tokens"
                value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND" />
        </module>
        <module name="GenericWhitespace">
            <property name="severity" value="error" />
        </module>
        <module name="EmptyForInitializerPad">
            <property name="severity" value="error" />
        </module>

        <!--Modifiers-->
        <module name="ModifierOrder">
            <property name="severity" value="error" />
        </module>
        <module name="RedundantModifier">
            <property name="severity" value="error" />
        </module>
        <!--Block Checks-->
        <module name="AvoidNestedBlocks">
            <property name="severity" value="error" />
        </module>
        <module name="EmptyBlock">
            <property name="severity" value="error" />
        </module>
        <module name="LeftCurly">
            <property name="severity" value="error" />
        </module>
        <module name="NeedBraces">
            <property name="severity" value="error" />
        </module>
        <module name="RightCurly">
            <property name="severity" value="error" />
        </module>
        <module name="EmptyStatement">
            <property name="severity" value="error" />
        </module>

        <!--Coding-->
        <module name="EqualsHashCode">
            <property name="severity" value="error" />
        </module>
        <module name="HiddenField">
            <property name="ignoreSetter" value="true" />
            <property name="ignoreConstructorParameter" value="true" />
        </module>
        <module name="IllegalInstantiation">
            <property name="severity" value="error" />
            <property name="classes"
                value="java.lang.String,java.lang.Boolean,java.lang.Integer,java.lang.Long,java.util.GregorianCalendar,java.util.StringTokenizer,java.util.Vector,java.util.Stack,java.util.Hashtable,java.util.Locale.class" />
        </module>
        <module name="InnerAssignment">
            <property name="severity" value="error" />
        </module>
        <module name="MagicNumber">
            <property name="ignoreHashCodeMethod" value="true" />
        </module>
        <module name="MissingSwitchDefault"></module>
        <module name="SimplifyBooleanExpression">
            <property name="severity" value="error" />
        </module>
        <module name="SimplifyBooleanReturn">
            <property name="severity" value="error" />
        </module>
        <module name="NestedForDepth">
            <property name="severity" value="error" />
        </module>
        <module name="OneStatementPerLine">
            <property name="severity" value="error" />
        </module>
        <module name="IllegalCatch" />
        <module name="IllegalThrows">
            <property name="severity" value="error" />
        </module>
        <module name="IllegalType">
            <property name="severity" value="warning" />
            <property name="tokens" value="METHOD_DEF,PARAMETER_DEF,VARIABLE_DEF" />
        </module>
        <module name="FallThrough" />
        <module name="DeclarationOrder">
            <property name="severity" value="error" />
        </module>
        <module name="CovariantEquals">
            <property name="severity" value="error" />
        </module>
        <module name="ModifiedControlVariable">
            <property name="severity" value="error" />
        </module>

        <module name="ReturnCount">
            <property name="max" value="0" />
            <property name="severity" value="error" />
            <property name="tokens" value="CTOR_DEF" />
        </module>
        <module name="ReturnCount">
            <property name="max" value="1" />
            <property name="severity" value="error" />
            <property name="tokens" value="LAMBDA" />
        </module>
        <module name="ReturnCount">
            <property name="max" value="2" />
            <property name="severity" value="error" />
            <property name="tokens" value="METHOD_DEF" />
        </module>
        <module name="StringLiteralEquality">
            <property name="severity" value="error" />
        </module>
        <module name="SuperClone">
            <property name="severity" value="error" />
        </module>
        <module name="SuperFinalize">
            <property name="severity" value="error" />
        </module>
        <module name="UnnecessaryParentheses">
            <property name="severity" value="error" />
        </module>
        <module name="ExplicitInitialization">
            <property name="severity" value="error" />
        </module>
        <module name="DefaultComesLast">
            <property name="severity" value="error" />
        </module>
        <module name="EqualsAvoidNull">
            <property name="severity" value="error" />
        </module>
        <module name="MultipleVariableDeclarations">
            <property name="severity" value="error" />
        </module>
        <module name="NoFinalizer">
            <property name="severity" value="error" />
        </module>
        <module name="PackageDeclaration">
            <property name="severity" value="error" />
        </module>
        <module name="ParameterAssignment">
            <property name="severity" value="error" />
        </module>

        <!--Class design-->
        <module name="FinalClass">
            <property name="severity" value="error" />
        </module>
        <module name="HideUtilityClassConstructor">
            <property name="severity" value="error" />
        </module>
        <module name="InterfaceIsType">
            <property name="severity" value="error" />
        </module>
        <module name="VisibilityModifier">
            <property name="severity" value="error" />
            <property name="packageAllowed" value="true" />
        </module>
        <module name="InnerTypeLast">
            <property name="severity" value="error" />
        </module>
        <module name="MutableException">
            <property name="severity" value="error" />
        </module>
        <module name="ThrowsCount">
            <property name="max" value="3" />
        </module>

        <!--Miscellaneous-->
        <module name="ArrayTypeStyle">
            <property name="severity" value="error" />
        </module>
        <module name="TodoComment">
            <property name="format" value="(TODO)|(FIXME)" />
        </module>
        <module name="UpperEll">
            <property name="severity" value="error" />
        </module>
        <module name="Indentation">
            <property name="severity" value="error" />
        </module>

        <!--Metrics-->
        <module name="BooleanExpressionComplexity">
            <property name="max" value="5" />
        </module>
        <module name="ClassDataAbstractionCoupling" />
        <module name="ClassDataAbstractionCoupling">
            <property name="id" value="ClassDataAbstractionCoupling_Error" />
            <property name="max" value="15" />
        </module>
        <module name="CyclomaticComplexity" />
        <module name="CyclomaticComplexity">
            <property name="severity" value="error" />
            <property name="id" value="CyclomaticComplexity_Error" />
            <property name="max" value="15" />
        </module>
        <module name="NPathComplexity">
            <property name="max" value="100" />
        </module>
        <module name="NPathComplexity">
            <property name="severity" value="error" />
            <property name="id" value="NPathComplexity_Error" />
        </module>

        <!--Annotations-->
        <module name="MissingDeprecated">
            <property name="severity" value="error" />
        </module>
        <module name="MissingOverride">
            <property name="severity" value="error" />
        </module>
        <module name="PackageAnnotation">
            <property name="severity" value="error" />
        </module>

    </module>
    <!--Non Tree Walker modules-->
    <!--Javadoc non treewalker-->
    <!--FIX suppressions-->
    <module name="SuppressionFilter">
        <property name="file" value="${samedir}/suppressions.xml" />
    </module>
    <!--Misc non treewalker-->
    <module name="NewlineAtEndOfFile">
        <property name="severity" value="warning" />
    </module>
    <!--Whitespace non treewalker-->
    <module name="FileTabCharacter">
        <property name="severity" value="error" />
    </module>
    <module name="RegexpSingleline">
        <property name="severity" value="error" />
        <property name="id" value="TrailingSpaces_Error" />
        <property name="format" value="\s+$" />
        <property name="message" value="Line has trailing spaces" />
    </module>
    <module name="RegexpSingleline">
        <property name="severity" value="error" />
        <property name="id" value="DangerousJVMOperation_Error" />
        <property name="format"
            value="\.exit\(|\.halt\(|\.traceMethodCalls\(|\.traceInstructions\(|\.runFinalization\(|\.gc\(" />
        <property name="message" value="Suspicious invocation of dangerous JVM level operation" />
    </module>
    <module name="RegexpSingleline">
        <property name="severity" value="error" />
        <property name="id" value="ReverseOrderNullCheck_Error" />
        <property name="format" value="null !=|null ==" />
        <property name="message" value="Check for null in reverse order" />
    </module>
    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="Generated code begins here" />
        <property name="onCommentFormat" value="Generated code ends here" />
    </module>
    <!--Size violation non treewalker-->
    <module name="FileLength">
        <property name="max" value="200" />
    </module>
    <module name="FileLength">
        <property name="severity" value="error" />
        <property name="id" value="FileLength_Error" />
        <property name="max" value="300" />
    </module>
</module>